<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>

    <link href="content/css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="content/css/bootstrap.css" rel="stylesheet" />

    <script src="content/js/angular.js"></script>
    <script src="content/js/bootstrap.js"></script>

    <script src="content/js/app/app.js"></script>
    <script src="content/js/app/artistCtrl.js"></script>
    <script src="content/js/app/venueService.js"></script>

    <!--<style>
        .test {
            background-color: red;
            position: relative;
            top: 100px;
        }
    </style>-->

</head>
<body ng-app="artistApp">

<div ng-controller="artistController">

    <div class="container">
        <div class="col-sm-6">
            <div class="well">
                <input type="text" name="txtInput" ng-model="greeting"/>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                {{greeting}}
            </div>
        </div>

        <div class="container">
            <div class="col-sm-6">
                <div class="well">
                    <button ng-click="callNotify()">Click Me</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        
    </div>

</div>




</body>
</html>
